body {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

.start {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background-color: aliceblue;
  box-shadow: 0 0 5px 2px gray;
  text-align: center;
  line-height: 30px;
  color: brown;
}

.start:hover {
  background-color: aqua;
  box-shadow: 0 0 5px 5px gray;
}

.main {
  width: 420px;
  height: 420px;
  padding-top: 4px;
  text-align: center;
  background-color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px grey;
  display: inline;
  user-select: none;
}

.main .blocks {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: black 1px solid;
  margin: 1px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: coral;
  background-color: rgba(200, 200, 200, 0.6);
}

.main .blocks2 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: black 1px solid;
  margin: 1px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: rgba(255, 187, 80, 0.9);
  background-color: rgba(143, 188, 143, 0.6);
}